@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;500;600;700;800;900&display=swap');



$font-hanken-grotesk: "Hanken Grotesk";


$bg-color-cod-gray: #0a0a0a;
$bg-color-white: #ffffff;

$color-ecru-white: #f8f8ec;
$color-gray: #808080;
$color-gray2: #858585;
$color-emperor: #535353;
$color-dusty-gray: #999999;
$color-cod-gray: #0a0a0a;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ("preloader", "navigation", "content");